*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

.debug{
  background-color: rgba(165, 42, 42, 0.54);
  border: 1px solid black;
}

.d-flex-column{
  display: flex;
  flex-direction: column;
}

.img-avatar{
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.header .img-avatar{
  height: 50px;
  width: 50px;
}

/* MAIN */
main{
  height: 100vh;
  background-image: 
  linear-gradient(to bottom,
  #249688 20%, #dcdbd2 0%) ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* APP CONTAINER */
.app-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 750px;
  width: 80%;
  min-width: 600px;
  display: flex;
}

.app-container .left-col .header,
.app-container .right-col .header,
.app-container .right-col .footer{
  height: 65px;
  padding: 0 10px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eaeaea;
}


/* left-col */

.app-container .left-col{
  width: 30%;
}
/* left-s HEADER */

.left-col .header{
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid rgb(204, 195, 195);
}

.left-col .header .user{
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(44, 40, 40);
 }

.left-col .header i,
.right-col .header i{
  font-size: 1.2rem;
  color: #b1b1b1;
  margin: 0 7px;
}


/* notifiche */

.left-col .notifiche{
  display: flex;
  align-items: center;
  background-color: #8edafc;
  padding: 10px 15px;
}

.left-col .notifiche .subtitle{
  font-size: 0.75rem;
  color: #6b7376;
  text-decoration: underline;
}

.left-col .notifiche .img-avatar{
  background-color: #f2fbff;
  display: flex;
  font-size: 1.3rem;
  color: #8edafc;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/* search row */


.left-col .search-row{
  width: 100%;
  display: flex;
  background-color: #f8f9fa;
}


.left-col .search-row input{
  float: left;
  width: 100%;
  margin: 10px 5px 10px 0;
  padding: 10px;
  border-radius: 5px;
  border-width: 0px;
}

.left-col .search-row button{
  width: 70px;
  margin: 10px 0 10px 5px;
  border-width: 0px;
  background-color: white;
  color: #b1b1b1;
}


/* CHAT */

.left-col .chats{
  height: 100%;
  background-color: #f8f9fa;
  align-items: center;
  overflow-y: auto;
}

/* CHAT element */

.chat{
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-top: 1px solid #dee0e1;
}

.chat .left{
  display: flex;
  align-items: center;
}

.chat .left .text{
  align-self: flex-start;
}

.chat .contact-name{
  font-weight: bold;
  color: #6b7376;
}

.chat .last-message,
.chat .last-hour-date{
  font-size: 0.7rem;
  color: #b1b1b1;
}

.chat:hover{
  background-color: #e9ebeb;
}

/* RIGHT COL */

.app-container .right-col{
  width: 70%;
  justify-content: space-between;
}

/* right-col Header */
.avatar-container{
  display: flex;
}

.avatar-container .text{
  justify-content: center;
}

.avatar-container .text .last-message{
  font-size: 0.8rem;
  color: #6b7376;
}
/* right-col CENTER */

.right-col .center{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 0.8rem;
  background-image: url(../img/mine.jpg);
  background-position: center;
  padding: 60px 80px;
  overflow-y: auto;
}

.right-col .center .mex.sent{
  background-color: #d5f9ba;
  align-self: flex-end;
  
}

.right-col .center .mex.received{
  background-color: white;
  align-self: flex-start;
}

.right-col .center .mex{
  position: relative;
  display: flex;
  padding: 15px 18px 18px 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  min-width: 40%;
  max-width: 60%;
}

.right-col .center .mex span{
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 0.65rem;
  color: #b6BBBC;
}





/* right-col footer */
.right-col .footer i{
  font-size: 1.3rem;
  color: #6b7376;
  margin: 0 15px;
}

.right-col .footer input{
  width: 100%;
  margin: 0 10px;
  padding: 15px;
  border-radius: 5px;
  border-width: 0px;
}

