<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- fontawesom -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <!-- /Google-font -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Boolzapp</title>
</head>
<body>

  <div id="app">
    <!-- MAIN -->
    <main>
      <!-- app container -->
      <div class="app-container">

        <!-- LEFT COL -->
        <div class="left-col d-flex-column">

          <!--left-s header -->
          <div class="header">

            <div class="user">
                <img class="img-avatar" :src="`./img/avatar${userProfile.avatar}.jpg`" alt="">
              <p>{{userProfile.name}}</p>
            </div>

            <div class="icon-container">
              <i class="fa-solid fa-circle-notch"></i>
              <i class="fa-solid fa-message"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>

          </div>

          <!-- notifiche-->
          <div class="notifiche">
            <div class="img-avatar">
              <i class="fa-solid fa-bell-slash"></i>
            </div>
            <div class="text">
              <p class="title">Ricevi notifiche di nuovi messaggi</p>
              <p class="subtitle">attiva notifiche sul dekstop</p>
            </div>
            
          </div>
          <!-- search -->

          <div class="search-row">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
  <!--******* sistema questo key up  -->
            <input v-model="tipedLetter" @keyup.enter=""  type="text" placeholder="cerca o inizia una nuova chat">
          </div>

          <!-- Contact List -->
          <div class="contact-list d-flex-column">
          
            <div class="contact-el"
            v-for="(contact, index) in contacts"  
            v-if="contact.name.toLowerCase().includes(tipedLetter)" @click="getActiveContact(index)">
          
              <div class="left">
                <img class="img-avatar" :src="`./img/avatar${contact.avatar}.jpg`" alt="contact.name">

                <div class="text">
                  <p class="name">{{contact.name}}</p>
                  <p 
                  v-if="contact.messages.length >= 1"
                  class="last-message">{{contact.messages[getIndex(contact)].message}}</p>
                </div> 
              </div>

              <div class="right">
                <p 
                v-if="contact.messages.length >= 1"
                class="last-hour-date">{{contact.messages[getIndex(contact)].date}}</p>
              </div>
              
            </div>
            
          </div>
        </div>

        <!-- RIGHT COL -->
        <div class="right-col d-flex-column">
          <!-- header -->
          <div class="header">
            <div class="avatar-container">
              <img class="img-avatar" :src="`./img/avatar${contacts[activeContact].avatar}.jpg`" alt="avatar 1">
              <div class="text d-flex-column">
                <p class="name">{{contacts[activeContact].name}}</p>
                <p class="last-message">Ultimo accesso oggi alle: {{getRandomAccess()}}</p>
              </div>
            </div>
             
            <div class="icon-container">
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-link"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
          <!-- main -->
          <div class="center">

            <div
            @mouseleave ="clickedDropDown = -1"
            v-for="(message, index) in contacts[activeContact].messages" class="mex" :class="message.status">
              {{message.message}}
              <span class="mex-date-hour">{{message.date}}</span>

                <i
                @click="clickedDropDown = index"
                class="fa-solid fa-chevron-down">
                </i>

                <div 
                class="dropdown" 
                v-show="index === clickedDropDown"
                >
                  <p>Info messaggio</p>
                  <p @click="delateMessage(index)">Cancella messaggio</p>
                </div>
              
              
            </div>

          </div>
          <!-- footer -->
          <div class="footer">
            <i class="fa-solid fa-face-smile"></i>
            <input @keyup.enter="getNewMessage()" v-model.trim="newMessage" type="text" placeholder="scrivi un mex">
            <i class="fa-solid fa-microphone"></i>
          </div>
        </div>
      </div>
      
    </main>
    <!-- /MAIN -->
  </div>

 
  <script src="js/script.js"></script>
</body>
</html>